 img.logo {
   height: 90px;
   width: 100px;
 }

 .m-top-60 {
   margin-top: 60px;
 }

 .p-10 {
   padding: 10%;
 }

 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }